body{
    background-image: url("../assets/background.jpg");
    text-transform: capitalize;
    box-shadow: 2px;
    color:#37ee7ddd;
    background-color: #fff;
    color: #103f37;

    
}

placeholder{
    color: #035446;
    color: #9a86f3;
    color: #103F37;
    background-color: #9a86f3;
    color:#9a86f3;
    background-color: #080420;
    color:#0cdebe
}